cover_db
META.yml
blib
inc
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
MANIFEST.bak
*.sw[po]
/Text-Hatena-*
/.build
/_build
/_build_params
/Build
!Build/
!META.json
!LICENSE
/deps/
MYMETA.*
*~
/local/
/perl
/prove
/plackup
/Makefile.setupenv
/cin
/config/perl/libs.txt
